In [30]:
import pandas as pd

In [32]:
df_raw = pd.read_csv("Data_OTT/movies_grade_.csv")

In [33]:
df_raw.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [34]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          422 non-null    object
 1   title                  422 non-null    object
 2   original_title         422 non-null    object
 3   year                   422 non-null    int64
 4   date_published         422 non-null    object
 5   genre                  422 non-null    object
 6   duration               422 non-null    int64
 7   country                421 non-null    object
 8   language               414 non-null    object
 9   director               421 non-null    object
 10  writer                 418 non-null    object
 11  production_company     403 non-null    object
 12  actors                 421 non-null    object
 13  description            421 non-null    object
 14  avg_vote               422 non-null    float64
 15  votes                  422 non-null    int64
 16  budget                 422 non-null    object
 17  usa_gross_income       175 non-null    object
 18  worlwide_gross_income  252 non-null    object
 19  metascore              206 non-null    float64
 20  reviews_from_users     411 non-null    float64
 21  reviews_from_critics   380 non-null    float64
dtypes: float64(4), int64(3), object(15)
memory usage: 72.7+ KB

In [47]:
df_raw.loc[df_raw["usa_gross_income"].isnull(), "usa_gross_income"] = "$0"
df_raw.loc[df_raw["worlwide_gross_income"].isnull(), "worlwide_gross_income"] = "$0"

In [48]:
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          422 non-null    object
 1   title                  422 non-null    object
 2   original_title         422 non-null    object
 3   year                   422 non-null    int64
 4   date_published         422 non-null    object
 5   genre                  422 non-null    object
 6   duration               422 non-null    int64
 7   country                421 non-null    object
 8   language               414 non-null    object
 9   director               421 non-null    object
 10  writer                 418 non-null    object
 11  production_company     403 non-null    object
 12  actors                 421 non-null    object
 13  description            421 non-null    object
 14  avg_vote               422 non-null    float64
 15  votes                  422 non-null    int64
 16  budget                 422 non-null    object
 17  usa_gross_income       422 non-null    object
 18  worlwide_gross_income  422 non-null    object
 19  metascore              206 non-null    float64
 20  reviews_from_users     411 non-null    float64
 21  reviews_from_critics   380 non-null    float64
 22  revenue                175 non-null    object
dtypes: float64(4), int64(3), object(16)
memory usage: 76.0+ KB

In [35]:
df_raw["revenue"] = df_raw["worlwide_gross_income"] + df_raw["usa_gross_income"]

In [36]:
# income 있는 애들만 정리

df_1 = df_raw[df_raw["revenue"].notnull()]

In [40]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 175 entries, 42 to 421
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          175 non-null    object
 1   title                  175 non-null    object
 2   original_title         175 non-null    object
 3   year                   175 non-null    int64
 4   date_published         175 non-null    object
 5   genre                  175 non-null    object
 6   duration               175 non-null    int64
 7   country                174 non-null    object
 8   language               175 non-null    object
 9   director               175 non-null    object
 10  writer                 175 non-null    object
 11  production_company     175 non-null    object
 12  actors                 175 non-null    object
 13  description            175 non-null    object
 14  avg_vote               175 non-null    float64
 15  votes                  175 non-null    int64
 16  budget                 175 non-null    object
 17  usa_gross_income       175 non-null    object
 18  worlwide_gross_income  175 non-null    object
 19  metascore              164 non-null    float64
 20  reviews_from_users     175 non-null    float64
 21  reviews_from_critics   174 non-null    float64
 22  revenue                175 non-null    object
dtypes: float64(4), int64(3), object(16)
memory usage: 32.8+ KB

In [54]:
df_raw[df_raw['production_company'].notnull()]["production_company"]

0              Conspiracy Reels
1                 DeadAir Films
2         Dead Leaf Productions
3                 Coverage, Ink
4                Make The Movie
                 ...
417    Chris Morgan Productions
418                     Syncopy
419        Walt Disney Pictures
420        Walt Disney Pictures
421              Marvel Studios
Name: production_company, Length: 403, dtype: object